@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-2xs: 0.5625rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
#root {
  min-height: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}
