@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}
